.top-bar {
	background: none;
}

.top-bar-section ul {
	background: none;
}

.top-bar-section li a:not(.button),
.top-bar li.name a {
	font-family: 'Rock Salt', cursive;
	color: #aaa;
	background: none;
}

.top-bar li.name a {
	font-size: 120%;
}

body {
	background-color: #333;
}

.panel {
	background-color: #eee;
}

.social-media a:link, .social-media a:visited, .social-media a:hover, .social-media a:active {
	color: #aaa;
	font-size: 200%;
}

.footer-panel {
	color: #aaa;
}

.audio-panel {
}

