.top-bar ul li a {
	font-family: 'Rock Salt', cursive;
}

.top-bar .name a {
	font-size: 220%;
}

body {
	background-color: #111;
}

.panel {
	background-color: #eee;
}

.social-media a:link, .social-media a:visited, .social-media a:hover, .social-media a:active {
	color: #aaa;
	font-size: 200%;
}

.footer-panel {
	color: #aaa;
}

.audio-panel {
}

